:root {
	--brand-color: #e5e5e5;
	--secondary-brand-color: #2f303a;
	--header-box-color: #ffffff;
	--footer-box-color: #2f303a;

	--link-contact-color: #757575;
	--link-color-hover: #2196f3;

	--address-color: #ffffff;
	--footer-link-contact-color: #ffffff60;

	--logo-color: #000000;
	--secondary-logo-color: #2196f3;
	--third-logo-color: #ffffff;

	--text-color: #ffffff;
	--secoundary-text-color: #212121;
	--third-text-color: #757575;

	--button-color: #2196f3;
	--secoundary-button-color: #ffffff;
	--third-button-color: #f5f4fa;
	--hover-butto-color: #2196f3;

	--figure-box-color: #ffffff;
	--figure-portfolio-box-color: #ffffff;
	--figure-portfolio-box-border-color: #eeeeee;
}

body {
	background-color: var(--brand-color);
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
}
.header_box {
	background-color: var(--header-box-color);
}
.header__logo {
	font-family: 'Raleway';
	text-decoration: none;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: var(--logo-color);
}
.header__logo > span {
	color: var(--secondary-logo-color);
}
.header__nav--link {
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.02em;
	color: var(--secoundary-text-color);
}
.header__nav--link:hover {
	color: var(--link-color-hover);
}
.active__page {
	color: var(--link-color-hover);
}
.header__contact--mail,
.header__contact--phone {
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.02em;
	color: var(--link-contact-color);
}
.header__contact--mail:hover,
.header__contact--phone:hover {
	color: var(--link-color-hover);
}

.section__effective_solutions {
	background-color: var(--secondary-brand-color);
}
.section__effective_solutions--title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--text-color);
}
.section__effective_solutions--button {
	background: var(--button-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border-width: 0px;
	cursor: pointer;
	font-family: "Roboto", sans-serif;

	/* text in box style */
	color: var(--text-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
}
.section__effective_solutions--button:hover {
	background: var(--secoundary-button-color);
	color: var(--secoundary-text-color);
}
.section__effective_solutions--button:active {
	opacity: 0.5;
}
.section__loremipsum {
}
.section__loremipsum--heading {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--secoundary-text-color);
}
.section__loremipsum--paragraph {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--third-text-color);
}
.section__job {
}
.section__job--heading {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--secoundary-text-color);
}
.section__team {
}
.section__team--heading {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--secoundary-text-color);
}
.section__team--figure {
	background: var(--figure-box-color);
	/* material shadow v1 */
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.section__team--figure_description {
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
}
.section__team--figure_description > h4 {
	font-weight: 500;
	color: var(--secoundary-text-color);
}
.section__team--figure_description > p {
	color: var(--third-text-color);
}
.footer--box {
	background-color: var(--secondary-brand-color);
}
.footer--heading {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.20;
	letter-spacing: 0.03em;
	color: var(--third-logo-color);
}
.footer--heading > span {
	color: var(--secondary-logo-color);
}
.footer--address {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--address-color);
}
.footer__contact--mail,
.footer__contact--phone {
	text-decoration: none;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--footer-link-contact-color);
}
.footer__contact--mail:hover,
.footer__contact--phone:hover {
	color: var(--link-color-hover);
}
.portfolio__section--button {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.61;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--secoundary-text-color);
	background: var(--third-button-color);
	border-width: 0px;
	cursor: pointer;
}
.portfolio__section--button:hover {
	background: var(--hover-butto-color);
	color: var(--text-color);
}
.portfolio__box--figure {
	background: var(--figure-portfolio-box-color);
	border: 1px solid var(--figure-portfolio-box-border-color);
}
.portfolio__box--figure_description {
}
.portfolio__box--figure_description > h4 {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--secoundary-text-color);
}
.portfolio__box--figure_description > p {
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	color: var(--third-text-color);
}
