/* deklaracja zmiennych */
:root {
	--brand-color: #e5e5e5;
	--secondary-color: #2f303a;
	--header-color: #ffffff;
}
/* style ogołne */
body {
	background-color: var(--brand-color);
	font-family: "Roboto", sans-serif;
}
header {
	background-color: var(--header-color);
}
a {
	text-decoration: none;
}
a:mailto{
	color:red;
}
footer {
	background-color: var(--secondary-color);
}

/* style dla header */
.header__logo {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	color: black;
}
.header__logo--span {
	color: #2196f3;
}
.header__link {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: black;
}
.header__link:focus {
	color: #2196f3;
}
.header_contact--mail {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #2196f3;
}
.header__contact--phone {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #757575;
}

/* style dla sekcji z efektywnymi rozwiazaniami*/

.section__effective_solutions {
	background: #2f303a;
}
.section__effective_solutions--heading {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 60px;
	/* or 136% */
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: #ffffff;
}
.section__effective_solutions--button {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	/* identical to box height, or 188% */

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;

	color: #ffffff;
}

/* style dla sekcji z loremipsum */

/* .section__loremipsum{

} */
.section__loremipsum--heading {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #212121;
}
.section__loremipsum--paragraph {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	/* or 171% */

	letter-spacing: 0.03em;

	color: #757575;
}

/* sekcja czym się zajmujemy */
.section_job--heading {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;

	color: #212121;
}

/* sekcja nasz team */
.section_team {
	background: #f5f4fa;
}
.section_team--heading {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;

	color: #212121;
}
.section__team--figure {
	background: #ffffff;
	/* material shadow v1 */

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.section__team--figure_description {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	/* identical to box height */
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}
.section__team--figure_description > h4 {
	color: #212121;
}
.section__team--figure_description > p {
	color: #757575;
}

/* style dla footer */

.footer__heading {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	/* identical to box height */

	letter-spacing: 0.03em;
	color: #ffffff;
}
.footer__heading > span {
	color: #2196f3;
}
.footer--address {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	/* or 171% */

	letter-spacing: 0.03em;

	color: #ffffff;
}
.footer__contact {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	/* or 171% */

	letter-spacing: 0.03em;

	color: rgba(255, 255, 255, 0.6);
}
